.main--item {
    box-sizing: border-box;
    width: 100%;
    margin: 14px 0px 50px;
    padding: 18px;
    text-align: left;


}

.main--item>h2 {
    width: 100%;
    height: 48px;
    font-size: 32px;
    font-weight: bold;
    line-height: 48px;
}

.main--item>.list--item {
    width: 100%;
    height: 461px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.list--item::-webkit-scrollbar {
    display: none;
}

.infor--item {
    width: 261px;
    height: 100%;
    display: inline-block;
    border-radius: 16px;
    box-shadow: 0px 0px 1px 1px #f2f2f2;
    background-color: white;
    margin-right: 24px;
}

.infor--item>img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
}

.infor--item>span {
    color: #39B54A;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    margin-top: 8px;
    margin-left: 12px;
}

.infor--item>h4 {
    height: 32px;
    font-size: 24px;
    line-height: 32px;
    color: #100B00;
    font-weight: bold;
    margin: 0 12px;
}

.infor--item>p {
    height: 24px;
    color: #100B00;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 12px;
}

.infor--item>p>span {
    text-decoration: line-through;
    margin-left: 14px;
    opacity: 0.2;
}

.infor--item>button {
    width: 237px;
    height: 36px;
    border: 1px solid #39B54A;
    color: #39B54A;
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
    align-items: center;
    margin: 12px;
    cursor: pointer;
    background: white;
}

.infor--item>button:hover {
    color: tomato;
    background-color: #f2f2f2;
}