.App {
  text-align: center;
  width: 100vw;
  box-sizing: border-box;
  background-color: whitesmoke;
  position: relative;
}
.account{
  height: 100vh;
  position: absolute;
  top: 0;
  left: -100%;
  position: fixed;
  z-index: 20;
  transition: left 0.3s ease-in-out;
}
